#  Data Collection and Data Load

In [6]:
import pandas as pd 
dataTest = pd.read_csv('data/all_perth_310121.csv')
dataTest.head()

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
0,1 Acorn Place,South Lake,565000,4,2,2.0,600,160,2003.0,18300,Cockburn Central Station,1800,09-2018\r,6164,-32.115900,115.842450,LAKELAND SENIOR HIGH SCHOOL,0.828339,NaN
1,1 Addis Way,Wandi,365000,3,2,2.0,351,139,2013.0,26900,Kwinana Station,4900,02-2019\r,6167,-32.193470,115.859554,ATWELL COLLEGE,5.524324,129.0
2,1 Ainsley Court,Camillo,287000,3,1,1.0,719,86,1979.0,22600,Challis Station,1900,06-2015\r,6111,-32.120578,115.993579,KELMSCOTT SENIOR HIGH SCHOOL,1.649178,113.0
3,1 Albert Street,Bellevue,255000,2,1,2.0,651,59,1953.0,17900,Midland Station,3600,07-2018\r,6056,-31.900547,116.038009,SWAN VIEW SENIOR HIGH SCHOOL,1.571401,NaN
4,1 Aman Place,Lockridge,325000,4,1,2.0,466,131,1998.0,11200,Bassendean Station,2000,11-2016\r,6054,-31.885790,115.947780,KIARA COLLEGE,1.514922,NaN

# Data Cleaning dan Transformation

In [7]:
dataTest.info() # Menampilkan ringkasan informasi dari dataset

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33656 entries, 0 to 33655
Data columns (total 19 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ADDRESS           33656 non-null  object
 1   SUBURB            33656 non-null  object
 2   PRICE             33656 non-null  int64
 3   BEDROOMS          33656 non-null  int64
 4   BATHROOMS         33656 non-null  int64
 5   GARAGE            31178 non-null  float64
 6   LAND_AREA         33656 non-null  int64
 7   FLOOR_AREA        33656 non-null  int64
 8   BUILD_YEAR        30501 non-null  float64
 9   CBD_DIST          33656 non-null  int64
 10  NEAREST_STN       33656 non-null  object
 11  NEAREST_STN_DIST  33656 non-null  int64
 12  DATE_SOLD         33656 non-null  object
 13  POSTCODE          33656 non-null  int64
 14  LATITUDE          33656 non-null  float64
 15  LONGITUDE         33656 non-null  float64
 16  NEAREST_SCH       33656 non-null  object
 17  NEAREST_SCH_DIST  33656 non-null  float64
 18  NEAREST_SCH_RANK  22704 non-null  float64
dtypes: float64(6), int64(8), object(5)
memory usage: 4.9+ MB

In [8]:
# Menampilkan statistik deskriptif dari dataset
dataTest.describe(include="all")

,ADDRESS,SUBURB,PRICE,BEDROOMS,BATHROOMS,GARAGE,LAND_AREA,FLOOR_AREA,BUILD_YEAR,CBD_DIST,NEAREST_STN,NEAREST_STN_DIST,DATE_SOLD,POSTCODE,LATITUDE,LONGITUDE,NEAREST_SCH,NEAREST_SCH_DIST,NEAREST_SCH_RANK
count,33656,33656,3.365600e+04,33656.000000,33656.000000,31178.000000,33656.000000,33656.000000,30501.000000,33656.000000,33656,33656.000000,33656,33656.000000,33656.000000,33656.000000,33656,33656.000000,22704.000000
unique,33566,321,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,68,NaN,350,NaN,NaN,NaN,160,NaN,NaN
top,123 Fairway,Bertram,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Midland Station,NaN,10-2020\r,NaN,NaN,NaN,SWAN VIEW SENIOR HIGH SCHOOL,NaN,NaN
freq,3,231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4141,NaN,628,NaN,NaN,NaN,895,NaN,NaN
mean,NaN,NaN,6.370720e+05,3.659110,1.823063,2.199917,2740.644016,183.501545,1989.706436,19777.374465,NaN,4523.371494,NaN,6089.420074,-31.960664,115.879265,NaN,1.815268,72.672569
std,NaN,NaN,3.558256e+05,0.752038,0.587427,1.365225,16693.513215,72.102982,20.964330,11364.415413,NaN,4495.064024,NaN,62.167921,0.177780,0.118137,NaN,1.746000,40.639795
min,NaN,NaN,5.100000e+04,1.000000,1.000000,1.000000,61.000000,1.000000,1868.000000,681.000000,NaN,46.000000,NaN,6003.000000,-32.472979,115.582730,NaN,0.070912,1.000000
25%,NaN,NaN,4.100000e+05,3.000000,1.000000,2.000000,503.000000,130.000000,1978.000000,11200.000000,NaN,1800.000000,NaN,6050.000000,-32.068437,115.789763,NaN,0.880568,39.000000
50%,NaN,NaN,5.355000e+05,4.000000,2.000000,2.000000,682.000000,172.000000,1995.000000,17500.000000,NaN,3200.000000,NaN,6069.000000,-31.933231,115.854198,NaN,1.345520,68.000000
75%,NaN,NaN,7.600000e+05,4.000000,2.000000,2.000000,838.000000,222.250000,2005.000000,26600.000000,NaN,5300.000000,NaN,6150.000000,-31.843818,115.970722,NaN,2.097225,105.000000
max,NaN,NaN,2.440000e+06,10.000000,16.000000,99.000000,999999.000000,870.000000,2017.000000,59800.000000,NaN,35500.000000,NaN,6558.000000,-31.457450,116.343201,NaN,23.254372,139.000000

In [9]:
# Memeriksa jumlah nilai yang hilang di setiap kolom
missing_values = dataTest.isnull().sum()
missing_values[missing_values > 0]

GARAGE               2478
BUILD_YEAR           3155
NEAREST_SCH_RANK    10952
dtype: int64

**Mengatasi Missing Value**

In [10]:
less = missing_values[missing_values < 1000].index
over = missing_values[missing_values >= 1000].index

In [11]:
# Contoh mengisi nilai yang hilang dengan median untuk kolom numerik
numeric_features = dataTest[less].select_dtypes(include=['number']).columns
dataTest[numeric_features] = dataTest[numeric_features].fillna(dataTest[numeric_features].median())

In [13]:
# Contoh mengisi nilai yang hilang dengan median untuk kolom kategori
kategorical_features = dataTest[less].select_dtypes(include=['object']).columns

for column in kategorical_features.index:
    dataTest[column] = dataTest[column].fillna(dataTest[column].mode()[0])

AttributeError: 'Index' object has no attribute 'IndexError'